@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <span class="top-label">Osobný finančný prehľad</span>
            <AuthorizeView>
                <Authorized Context="auth">
                    <span class="user-email">@auth.User.Identity?.Name</span>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Nastala neočakávaná chyba.
    <a href="." class="reload">Obnoviť</a>
    <span class="dismiss">x</span>
</div>
